@import url('http://fonts.cdnfonts.com/css/azo-sans');
* {
    font-family: 'Azo Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    position: relative;
    height: 100%;
}
#mint {
    color: #09b599;
}

#gold {
    color: #cf9038;
}






.sec1 {
    background: url(/pic/back1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.videosec {
    padding: 30px 10px;
    color: #fff;
    margin: auto;
    max-width: 1200px;
    display: block;
    text-align: center;
}

.videosec img {
    width: 120px;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 15px 15px rgb(7 4 4 / 25%);
}

.videosec h1 {
    box-shadow: 0px 15px 15px rgb(7 4 4 / 25%);
    font-size: var(--fs-700);
}

.videosec p {
    font-size: 15px;
    font-weight: 300;
}
.video-warrper{
    position: relative;
padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
    margin: 50px 0px;
}
.videosec iframe {
    box-shadow: 0px 15px 15px rgb(7 4 4 / 25%);
    max-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;

}

.buttonaccess {
    
    box-shadow: 0px 15px 15px rgb(7 4 4 / 25%);
    padding: 15px;
    background-color: rgb(26, 143, 92);
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #fff;
    background-color: #09b599;
    border: 5px solid #09b599;
}

.buttonaccess:hover {
    background-color: rgba(255, 0, 0, 0);
}






.pricing {
    box-shadow: 0px 15px 15px rgb(7 4 4 / 25%);
    margin: auto;
    text-align: center;
    line-height: 80px;
    display: block;
    min-height: 75px;
    color: #09b599;
    background-color: #ffffff;
    z-index: 999;
    font-size: larger;
}







.testmonials{
    overflow: hidden;
    position: relative;
    max-height: 800px;
}
.swiper {
    padding-top: 100px;
    max-width: 100%;
    max-height: 450px;
  }

  .swiper-wrapper{
    padding-top: 100px;
  }

  .swiper-slide {
    text-transform: uppercase;
    color: #fff;
    padding: 30px;
    padding-top: 60px;
    position: relative;
    font-size: 18px;
    background: #fff;
    background-color: #09b599; ;
    flex-direction: column;
    border-radius: 20px;
    min-width: 300px;
    max-height: 350px;
  }

  
  .quote-image{
height: 30px;
width: auto;
position: absolute;
z-index: 10;
top: 20px;
left: 30px;
border-radius: 15px;
opacity: 70%;
} 

.person-image{
height: 70px;
width: auto;
position: absolute;
z-index: 10;
top: -25px;
left: -60px;
border-radius: 15px;
}
.swiper-slide h2{

margin: 0px;
font-weight: 400;
float: right;
}
.swiper-slide P{ 
font-weight: 700;
text-align: center; 
margin: 0px;  
font-size: larger;

}
.text-test{

    line-height: 40px;
    font-size:var(--fs-700);
    font-weight: 900;
    padding-top: 110px;
    text-align: center;
    color: white;
}
.text-test p{

    line-height: 40px;
    font-size:var(--fs-500);
    font-weight: 300;
    text-align: center;
    color: white;
}




.sec2 {
    margin: 80px 0px;
    padding: 80px 0px;
    position: relative;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.headtext{
    font-size: var(--fs-800);
    display: block;
    margin: 50px auto;
}

.sec2body{

    display: flex;
    max-width: 1900px;
    margin: auto;
    justify-content: space-around;
}
.sidetxtsec2{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}
.image{
    text-align:center;
    padding: 15px;
}
.image img{
    max-width: 350px;
    margin: auto;
}

.sec2 h1 {
    color: white;
    padding-left: 100px;
    font-size: 50px;
    border-radius: 5px;
    letter-spacing: -1px;
    line-height: 150px;
}

.sec2 p {
    color: #ffffff;
    font-size: var(--fs-700);
 
}



.sec2::after {
    content: "";
    clear: both;
    display: table;
}

.backgroundtext {
    color: #09b599;
    padding-left: 645px;
    font-size: 170px;
    font-weight: bold;
    opacity: 0.3;
}
.whitezao{
    max-width: 150px; 
    position: absolute; 
    left: 50;
    bottom: -60;
}





.sec4{
    margin: auto;
    max-width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    font-size: larger;
    text-align: center;
    padding: 50px;
    overflow: hidden;
}

.button {

    background: #09b599;
    color: white;
    border-radius: 12px;
    font-size: 55px;
    font-weight: bold;
    width: 150px;
    padding:  15px 20px;
    text-align: center;
    text-decoration: none;
}

.card{

    border-radius: 12px;
    text-align: left;   
    padding: 20px 45px;
    width: 100%;
    background-color: #09b599;
    color: white;

}
.carddropdown{
    cursor: pointer;
    display: none;
    font-size: medium;
    padding: 30px;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    text-align: left;
    width: 95%;
    background-color: white;
    color: black;
}

.cardwrapper{
    max-width: 1200px;
    margin:  30px auto;
}
.sec4 button:hover {
    background-color: #099e85;
  }
  
  /* Create an active/current tablink class */
  .sec4 button.active {
    background-color: #09b599;
  }





.sec5{

    max-width: 100%;
    max-height: 500px;
}
.sec5wrapper{
    padding: 100px;
    text-align: left;
    color: white;
max-width: 1900px;
    margin: auto;
}
.formwrapper{
    max-width: 1900px;
    margin: auto;
}

.field1{
    width: 20%;
    padding: 10px;

        margin-right: 30px;
        height: 50px;
        border-radius: 5px;
}
.field2{
    width: 40%;
    padding: 10px;

    margin-right: 30px;
    height: 50px;
    border-radius: 5px;

}
.field3{
    width: 20%;

    background-color: #cf9038;
    margin-right: 30px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: larger;
    font-weight: 800;
}


.backgroundtext2 {
    color: #09b599;
    padding-left: 645px;
    font-size: 170px;
    font-weight: bold;
    opacity: 0.3;
    z-index: -100; font-size: 350px; position:absolute; left: -500; font-weight: 700;
    cursor: pointer;
}




:root{
    --fs-800: 3.5rem;
    --fs-700: 3rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    
    }
    
    @media only screen and (max-width: 600px)
    {
        :root{
            --fs-800: 1.5rem;
         --fs-700: 1.5rem;
        --fs-600: 1rem;
        --fs-500: .75rem;
        --fs-400: .5rem;
        }
        
        .text-test p{
    
            line-height: 20px;
            font-size:var(--fs-500);
            font-weight: 300;
            text-align: center;
            color: white;
        }
        .sec2body{
            flex-direction: column;
        }
        .delete{
            display: none;
        }
        .whitezao{
            max-width: 150px; 
            position: absolute; 
            left: 50%;
            transform: translate(-50%, 0);
            bottom: -60;
        }
        .sec5wrapper{
            padding: 50px 30px;
            text-align: center;
            color: white;
        max-width: 1900px;
            margin: auto;
        }

        .field1{
            margin-bottom: 10px;
            width: 80%;
            padding: 10px;
        
margin: 15px auto;  
                height: 50px;
                border-radius: 5px;
        }
        .field2{
            margin-bottom: 10px;

            width: 80%;
            padding: 10px;
        
            margin: 15px auto;  
            height: 50px;
            border-radius: 5px;
        
        }
        .field3{
            width: 80%;
            margin-bottom: 10px;

            background-color: #cf9038;
margin: 15px auto;            
height: 50px;
            border-radius: 5px;
            color: white;
            font-size: larger;
            font-weight: 800;
        }

        .backgroundtext2 {
            color: #09b599;
            padding-left: 645px;
            font-size: 170px;
            font-weight: bold;
            opacity: 0.3;
            z-index: -100; font-size: 350px; position:absolute; left: -500; font-weight: 700;
                        left: 50%;
            transform: translate(-50%, 0);
        }
        .pricing {
            box-shadow: 0px 15px 15px rgb(7 4 4 / 25%);
            margin: auto;
            text-align: center;
            line-height: 80px;
            display: block;
            min-height: 75px;
            color: #09b599;
            background-color: #ffffff;
            z-index: 999;
            font-size: medium;
        }
    }